
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 27%, 6%, 0.566);
    /* background-color: hsl(0, 0%, 100%); */
    border: 2px solid hsl(260, 2%, 24%);
    width: 300px;
    padding: 2%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}  
.input-container{
    /* border: 3px solid black; */
    border-radius: 5px;
    overflow: hidden;
    background-image: url("https://rare-gallery.com/uploads/posts/190467-roronoa-zoro-3840x2160.jpg");
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  p{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    font-weight: 500;
    font-size:2rem;
    padding-bottom: 10px;
  }
  .button{
    color: white;
  }
