<form [formGroup]="searchForm" class="search-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search Anime</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input formControlName="search" type="text" matInput list="animeData" />
    <datalist id="animeData">
      <option
        class="option"
        *ngFor="let an of animeList"
        [value]="an.title"
      ></option>
    </datalist>
  </mat-form-field>
  <!-- <button
    *ngIf="show"
    class="search-button"
    mat-icon-button
    matTooltip="Basic"
    aria-label="Example icon-button with a heart icon"
  ></button> -->
  <button
    matSuffix
    mat-icon-button
    *ngIf="
      searchForm.get('search')?.value !== null &&
      searchForm.get('search')?.value !== ''
    "
    (click)="clearSearch()"
    aria-label="Example icon-button with a heart icon"
  >
    <mat-icon>close</mat-icon>
  </button>
</form>
<section class="movie-containers">
  <mat-spinner *ngIf="isLoading" class="loader"></mat-spinner>
  <app-anime-poster
    *ngFor="let anime of animeList"
    [anime]="anime"
    (removeMovie)="loadAnimeData()"
  ></app-anime-poster>
</section>
