.movie-containers{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-evenly;
    /* justify-content: space-around;
    gap: 1rem; */
    padding: 20px;
}

.loader{
    align-self: center;
}
.search-form{
    display: flex;
place-content: center;
}
