.movie-containers{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-evenly;
    /* justify-content: space-around;
    gap: 1rem; */
    padding: 20px;
}

.loader{
    align-self: center;
}
.search-form{
    display: flex;
    /* align-items: center; */
place-content: center;
    padding-top: 10px;
}
.search-button{
    transform: translateY(10px);
}
/* .search{
    height: 30px;
    width: 13rem;
    font-size: 20px;
} */
.search{
    width: 40px;
}
.image{
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}
