<!-- <div class="welcome-msg">
  <marquee>Welcome to Anime App🎉😁</marquee>
  <h1>{{ name }}</h1>y
</div> -->
<!-- <section class="clr">
  <section class="back"></section>
  <section class="msg"></section>
</section> -->
<body>
  <div class="wellcome">
    <div class="final">
      <div class="title">
        <h1><b>ANIME</b></h1>
      </div>
      <div class="title1">
        <h1><b>TUBE</b></h1>
      </div>
    </div>
  </div>

  <div class="click">
    <i class="fa-solid fa-arrow-right fa-beat" style="color: #ff0000"></i>
    <!-- <button routerLink="/anime">CLICK HERE</button> -->
    <a routerLink="/anime" class="btn41-43 btn-41"> CLICK HERE </a>
  </div>
</body>
