marquee{
    display: flex;
    justify-content: center;
    padding: 20%;
    font-size: 4rem;
    font-weight: 500;
  }
.welcome-msg {
    /* border: 3px solid black; */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  
 